$font-color: #f2f2f2;

$life-red-color: #ff1e39;
$life-orange-color: #ED8554;

$base-color: grey;
$board-dark-border: darken($base-color, 20);
$board-light-border: darken($base-color, 15);

$board-dead-cells-color: #DBDBDB;
$color-grey-blue: #737785;

$ctrls-color: darken($base-color, 30);
$ctrls-disabled-color: lighten($ctrls-color, 40);
