.btn {
  font-size: 2em;
  color: $ctrls-color;
  background-color: transparent;
  border:none;

  &:hover {
    cursor: pointer;
  }

  &--disabled {
    color: $ctrls-disabled-color;

    &:hover {
      cursor: default;
    }
  }
}
