.btn {
  border-radius: 5px;
  margin: 5px;

  font-size: 1.3em;
  background-color: darken($board-base-color, 30);
  color: $font-color;

  &--large {
    width: 150px;
  }

  &--medium {
    width: 100px;
  }

  &.active, &:active {
    background-color: darken($board-base-color, 10);
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline-color: lighten($board-base-color, 80);
  }
}
