.ctrls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: $board-base-color;

  &--medium {
    width: 450px;
  }

  &--large {
    width: 600px;
  }

}

.ctrls__left {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ctrls__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ctrls__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ctrls__label {
  width: 120px;

  margin: 0px;

  font-size: 1.2em;
  text-align: center;
  color: $font-color;
}

.generations-display {
  border-spacing: 0;

  font-size: 1.2em;
  text-align: center;
  color: $font-color;
  background-color: darken($board-base-color, 30);

  & td, & th {
    padding: 5px;
    border: 1px solid red;
  }
}
